<div class="container">
    
    <div style="width:300px">
    <input type="text" class="form-control" name="search" [(ngModel)]="searchText" placeholder="search"> 
    </div>
    <div class="table">
        <tr>
            <th>Employee Name</th>
            <th>Age</th>
            <th>Role</th>
        </tr>
        <tr *ngFor="let e of employees|listFilter:searchText">
         <td>{{e.name}}</td>
         <td>{{e.age}}</td>
         <td>{{e.role}}</td>
        </tr>
    </div>
</div>
