<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in </p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>


<h3>Products Details</h3>
<div class="table">
    <tr>
        <th>Product Name</th>
        <th>Unit Cost</th>
        <th>Quantity</th>
        <th>Total Cost</th>
    </tr>
        <tr *ngFor="let p of products">
            <td>{{p.productName}}</td>
            <td>{{p.unitCost}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.unitCost*p.quantity}}</td>

        </tr>
    
</div>